.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.Blog li {
  display: inline-block;
  margin: 20px;
}

.Blog a {
  text-decoration: none;
  color: rgb(31, 29, 29);
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
  color: rgb(179, 129, 13);
  font-weight: bold;
}
a.myactive {
  color: rgb(20, 7, 206);
  font-weight: bold;
}
