.errorsMsg { 
  color: red;
   text-transform: capitalize;
   }

   .buttonValidation {
     padding: 10px;
     margin-right: 15px;
     width: 40%;
   }

   .divValidation{
    display: block;
    margin: 15px 0;
   }