.Logo {

    background-color: rgb(245, 239, 207);
    margin: 13px;
    padding: 3px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5%;

}

.Logo img {
    height: 100%;
    border: 1px rgb(53, 29, 2) solid;
    border-radius: 10%;
}