.buttonApp{

    background-color: green;
      color: white;
      font: inherit;
      border: 1px solid blue;
      padding: 8px;
      cursor: pointer;
    }
    
    .buttonApp:hover {
        background-color: lightgreen;
        color: darkgreen;
    }
    
    .buttonRed{
      background-color: red;
        color: white;
        font: inherit;
        border: 1px solid blue;
        padding: 8px;
        cursor: pointer;
      }
      
      .buttonRed:hover {
          background-color: salmon;
          color: blue;
      }